header{
  .navbar {
    background: $gray_light_xxx;
    padding: 5px 16px 6px; //todo - выводить размер через переменную
    & > a {
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold;
      color: $orange;
      padding: 0;
      img {
        height: 50px;
        width: 50px;
        margin-right: 8px; //todo - выводить размер через переменную
      }
    }
  }
  #navbarCollapse {
    justify-content: space-between;
    #searchBar {
      .nav-searchbar {
        margin-right: 16px; //todo - выводить размер через переменную
        .input-group-btn {
          button.btn.btn-search {
            background-color: $gray_light_x;
            border-radius: 0 4px 4px 0; //todo - выводить через переменную
            &:hover {
              background-color: $gray_light;
              transition: $transition;
            }
          }
        }
      }
    }
    .list-settings-block{
      display: flex;
      .sorting {
        margin-right: 32px; //todo - выводить размер через переменную
        span {
          padding-right: 8px;
          color: $gray_light;
          cursor: pointer;
          &.active {
            color: $gray_dark_x;
            transition: $transition;
            background-color: transparent;
          }
          &:not(.active){
            &:hover {
              color: $gray_dark_x;
              transition: $transition;
            }
          }
          &:last-of-type {
            padding-right: 0;
          }
          &:first-of-type {
            &:hover {
              color: $gray_light;
            }
          }
        }
      }
      .layout-switch {
        .layout-icon {
          color: $gray_light;
          cursor: pointer;
          &.active i:before {
            //color: $orange;
            color: $gray_dark_x;
            transition: $transition;
          }
          &:not(.active){
            &:hover i:before{
              color: $gray_dark_x;
              transition: $transition;
            }
          }
          &:nth-child(2) {
            margin-left: $space_8;
          }
        }
      }
    }
  }

}