header{
  background: $gray_light_xxx;
  .navbar {
    width: auto;
    max-width: 3000px;
    margin: 0 auto;
    padding: $space_5 ($space * 2) 6px;
    & > a {
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold;
      color: $orange;
      padding: 0;
      text-decoration: none;
      img {
        height: $space_5 * 10;
        width: $space_5 * 10;
        margin-right: $space * 2;
      }
    }
  }
  #navbarCollapse {
    justify-content: space-between;
    #searchBar {
      .nav-searchbar {
        margin-right: $space * 2;
        .input-group-btn {
          button.btn.btn-search {
            background-color: $gray_light_x;
            border-radius: 0 ($space / 2) ($space / 2) 0;
            &:hover {
              background-color: $gray_light;
              transition: $transition;
            }
          }
        }
      }
    }
    .list-settings-block{
      display: flex;
      .sorting {
        margin-right: $space * 4;
        span {
          padding-right: $space;
          color: $gray;
          cursor: pointer;
          svg {
            width: $space * 2 ;
            height: $space * 2 ;
          }
          &.active {
            transition: $transition;
            color: $gray_dark_x;
            background-color: transparent;
            svg {
              fill: $gray_dark_x;
            }
          }
          &:not(.active){
            &:hover {
              color: $gray_dark_x;
              transition: $transition;
            }
          }
          &:last-of-type {
            padding-right: 0;
          }
          &:first-of-type {
            color: $gray_light;
            cursor: default;
            &:hover {
              color: $gray_light;
            }
          }
        }
      }
      .layout-switch {
        .layout-icon {
          cursor: pointer;
          line-height: 1;
          opacity: 1;
          svg {
            width: $space * 2;
            height: $space * 2;
            fill: $gray_light;
            //fill:  $gray;
          }
          &.active svg {
            //color: $orange;
            transition: $transition;
            fill:  $gray_dark_x;
          }
          &:not(.active){
            &:hover svg{
              fill: $gray_dark_x;
              transition: $transition;
            }
          }
          &:nth-child(2) {
            margin-left: $space;
          }
        }
      }
    }
  }

}