.leftBlock {
  padding: $space_5 * 6;
  margin: ($space * 2.5) 0;
  border: 1px solid $gray_light_x;
  text-align: center;
  position: sticky;
  top: $space * 2.5;
  ul {
    padding: 0;
    li {
      list-style: none;
      a {
        color: $orange;
        &.router-link-exact-active {
          color: $black_txt;
          text-decoration: none;
        }
      }
    }
  }
  .about-txt {
    width: $space * 25;
    margin: ($space * 2) auto ($space * 7.5);
    font-weight: 200;
    p {
      margin-bottom: $space_5 * 2;
      color: $gray;
      font-weight: 300;
    }
  }
  .tag {
    margin-bottom: $space * 7.5;
    .tag-item {
      line-height: 1;
      cursor: pointer;
      transition: $transition;
      &:hover {
        color: $orange;
        transition: $transition;
      }
    }
  }
}
