.leftBlock {
  padding: $space_5 * 6;
  margin: ($space * 2.5) 0;
  border: 1px solid $gray_light_xx;
  text-align: center;
  position: sticky;
  top: $space * 2.5;
  ul {
    padding: 0;
    li {
      list-style: none;
      a {
        color: $orange;
        &.router-link-exact-active {
          color: $black_txt;
          text-decoration: none;
        }
      }
    }
  }
  .about-txt {
    width: $space * 25;
    margin: ($space * 2) auto ($space * 7.5);
    font-weight: 200;
    p {
      margin-bottom: $space_5 * 2;
      color: $gray;
      font-weight: 300;
      a {
        color: $gray;
        transition: $transition;
        &:hover {
          color: $orange;
          transition: $transition;
        }
      }
    }
  }
  .tag {
    margin-bottom: $space * 7.5;
    .tag-item {
      line-height: 1;
      cursor: pointer;
      transition: $transition;
      &.tag-item--all {
        padding-top: $space_5;
        display: block;
        a {
          color: gray;
          font-weight: 300;
          text-decoration: underline;
          &:hover {
            color: $orange;
            text-decoration: none;
          }
        }
      }
      &:hover {
        color: $orange;
        transition: $transition;
      }
    }
  }
  .bottom-links {
    display: flex;
    justify-content: center;
    a {
      margin-right: $space * 2;
      &:last-of-type {
        margin-right: 0;
      }
      svg {
        width: $space * 3;
        height: $space * 3;
        fill: $gray_light_x;
        transition: $transition;
        &:hover {
          fill: $orange;
          transition: $transition;
        }
      }
      &.vk {
        width: 26px;
        height: 26px;
        svg {
          #XMLID_11_{
            fill: $gray_light_x;
          }
          &:hover {
            #XMLID_11_{
              fill: $orange;
            }
          }
        }
      }
    }
  }
}
