#app {
  //margin: ($space_8 * 7.5) 0 ($space_8 * 12);
  margin: 0 0 ($space * 12);
  & > main {
    max-width: 3000px;
  }
}
.footer{
  //background-color: $gray_light_xxx;
  background-color: white;
  & > div.container-fluid {
    padding: 0;
  }
}
.tag-header {
  clear: both;

  h4 {
    margin-bottom: $space * 2;
  }
}
.mainContent {
  overflow: hidden;
  margin-top: $space * 2.5;

  & > div > h1 {
    margin-top: -($space_5 * 2);
  }
  & .tags-list-all > .tag-header > h4 {
    margin-top: -7px;
  }
}

.mainList {
  .titleOne,
  .titleTwo {
    width: 100%;
  }
  &.view-grid {
    display: flex;
    flex-wrap: wrap;
    & > div {
      width: 25%;
    }
    & > div.tag-header {
      width: 100%;
    }
    & > div.empty-header {
      display: none;
    }
    & > div.el-pagination {
      width: 100%;
    }
/*    & > div.tag-header:before {
      content: '';
      flex-basis: 100%;
      display: block;
      width: 100%;
      height: 25px;
      background: red;
    }*/
  }
}
.el-pagination {
  display: flex;
  padding: $space 0;
  button:not(:disabled) {
    &:hover {
      i.el-icon{
        &::before {
          color: $orange;
        }
      }
    }
  }
  .el-pager {
    .number {
      color: $black_txt;
      transition: $transition;
      &.active {
        color: $gray;
        font-weight: 300;
      }
      &:not(.active){
        &:hover {
          color: $orange;
          transition: $transition;
        }
      }
    }
  }
  .el-pagination__sizes {
    margin-left: auto;
    margin-right: 0;
    .el-input {
      margin: 0;
      width: $space_5 * 26;
      .el-input__inner:hover {
        border-color: $gray_light;
      }
      .el-input__suffix:hover {
        i::before,
        i::after {
          color: $gray_dark_x;
        }
      }
    }
  }
}
.el-select-dropdown {
  .el-select-dropdown__item {
    &.selected {
      //color: $orange;
      color: $gray_dark_x;
    }
  }
}

.tag {
  &-item {
    display: inline-block;
    margin: 0 3px;
  }
}
.tags .tag-item {
  color: $gray;
  text-decoration: underline;
  transition: $transition;
  cursor: pointer;
  font-size: 0.875rem; //14px;
  &:hover {
    color: $orange;
    //color: $gray_dark_x;
    transition: $transition;
  }
}
.tags-list-all {
  & > h1 {
    margin-bottom: $space * 3;
  }
}
.number {
  font-size: 2.5rem; //40px;
}

.button-download svg {
  width: $space * 3;
  height: $space * 3;
  fill: $gray_light_xx;
  transition: $transition;
  &:hover {
    fill: $orange;
    transition: $transition;
  }
}

.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  cursor: default;
}

ul.contactsList {
  margin-top: -1.8rem;
  margin-bottom: $space * 2;
  li {
    & > span {
      display: inline-block;;
      width: $space_5 * 50;
    }
    & > a {
      font-weight: 600;
    }
  }
}

.appList {
  margin-top: -1.8rem;
}
.appLinks {
  margin-top: -1.8rem;
  margin-bottom: $space * 2;
  display: flex;
  flex-wrap: nowrap;
  .appLink {
    margin-right: $space * 2;
    display: block;
    text-indent: -10000000px;
    overflow: hidden;
    width: $space * 4;
    height: $space * 4;
    border-radius: 50%;
    &.google {
      background: url(./../icons/icon_app-google.png) top left;
    }
    &.apple  {
      background: url(./../icons/icon_app-apple.png) top left;
    }
    &.yandex {
      background: url(./../icons/icon_app-yandex.png) top left;
      margin-right: 0;
    }
    &:hover {
      background-position: top right;
    }
  }
}

.appImages {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  img {
    width: 19.5%;
  }
}

