

#mainPlayer {
  .aplayer {
    overflow: visible!important;
    margin: 0;
    box-shadow: none;
    .aplayer-body {
      height: 10px; //todo - выводить размер через переменную
      .aplayer-info {
        margin: 0;
        padding: 0;
        height: 10px; //todo - выводить размер через переменную
        border: none;
        .aplayer-music {
          display: none;
        }
        .aplayer-controller {
          .aplayer-bar-wrap {
            margin: 0;
            padding: 0;
            .aplayer-bar,
            .aplayer-loaded,
            .aplayer-played {
              height: 10px!important; //todo - выводить размер через переменную
            }
            .aplayer-bar {
              background-color: $gray_light_xxx;
              //background-color: white;
              .aplayer-played {
                background-color: $orange_light !important;
              }
              .aplayer-loaded {
                background: $gray_light_xx !important;
              }
            }
          }
          .aplayer-time {
            position: absolute!important;
            bottom: -35px!important; //todo - выводить размер через переменную
            right: 15px!important; //todo - выводить размер через переменную
            padding: 0;
            .aplayer-icon-menu,
            .aplayer-time-inner {
              display: none!important;
            }
            .aplayer-icon {
              width: 28px!important; //todo - выводить размер через переменную
              height: 28px!important; //todo - выводить размер через переменную
              &:hover path {
                fill: $orange;
                transition: $transition;
              }
            }

          }
        }
      }
      .aplayer-pic {
        display: none;
      }
      .aplayer-notice {
        display: none;
      }
    }
    .aplayer-list {
      display: none;
    }
  }
  .player-bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px 105px 5px 0; //todo - выводить размер через переменную
    align-items: center;
    .buttons-block {
      padding-right: 8px; //todo - выводить размер через переменную
      .player-button {
        font-size: 28px; //todo - выводить размер через переменную
        color: $gray_light;
        cursor: pointer;
        transition: $transition;
        &:hover {
          color: $orange;
          transition: $transition;
        }
      }
    }
    .info-block {
      flex: 1;
      display: flex;
      .cover--thumb {
        height: 50px; //todo - выводить размер через переменную
        width: 50px; //todo - выводить размер через переменную
        background-color: $gray_light_xx;
        img {
          object-fit: cover;
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .text {
        padding-left: 16px; //todo - выводить размер через переменную
        p {
          margin: 0;
        }
        a,
        span {
          font-size: 12px; //todo - выводить кегль через переменную
        }
        span {
          padding-right: 8px;
        }
      }
    }
    .rating-controls {
      a i {
        font-size: 21px; //todo - выводить размер через переменную
        padding-top: $space_8;
        color: $gray_light;
        transition: $transition;
        &:hover {
          color: $orange;
          transition: $transition;
        }
      }
    }
  }
}