#mainPlayer {
  .aplayer {
    overflow: visible!important;
    margin: 0;
    box-shadow: none;
    .aplayer-body {
      height: $space_5 * 2;
      background-color: $gray_light_xxx;
      //background-color: red;
      .aplayer-info {
        margin: 0 auto;
        width: 100%;
        max-width: 3000px;
        padding: 0;
        height: $space_5 * 2;
        border: none;
        .aplayer-music {
          display: none;
        }
        .aplayer-controller {
          .aplayer-bar-wrap {
            margin: 0;
            padding: 0;
            .aplayer-bar,
            .aplayer-loaded,
            .aplayer-played {
              height: $space_5 * 2 !important;
            }
            .aplayer-bar {
              background-color: $gray_light_xxx;
              //background-color: white;
              .aplayer-played {
                background-color: $orange_light !important;
              }
              .aplayer-loaded {
                background: $gray_light_xx !important;
              }
            }
          }
          .aplayer-time {
            position: absolute!important;
            bottom: -($space_5 * 7)!important;
            right: $space_5 * 3 !important;
            padding: 0;
            .aplayer-icon-menu,
            .aplayer-time-inner {
              display: none!important;
            }
            .aplayer-icon {
              width: $space * 3.5 !important;
              height: $space * 3.5 !important;
              &:hover path {
                fill: $orange;
                transition: $transition;
              }
            }

          }
        }
      }
      .aplayer-pic {
        display: none;
      }
      .aplayer-notice {
        display: none;
      }
    }
    .aplayer-list {
      display: none;
    }
  }
  .player-bottom{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - (2 * 15px));
    max-width: 3000px;
    padding: $space_5 ($space_5 * 21) $space_5 0;
    align-items: center;
    .buttons-block {
      padding-right: $space;
      .player-button {
        font-size: 1.75rem; //28px;
        color: $gray_light;
        cursor: pointer;
        transition: $transition;
        &:hover {
          color: $orange;
          transition: $transition;
        }
      }
    }
    .info-block {
      flex: 1;
      display: flex;
      .cover--thumb {
        height: $space_5 * 10;
        width: $space_5 * 10;
        background-color: $gray_light_xx;
        img {
          object-fit: cover;
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .text {
        padding-left: $space * 2;
        p {
          margin: 0;
        }
        a,
        span {
          font-size: 0.75rem; //12px;
        }
        span {
          padding-right: $space / 2;
          color: $gray;
        }
        a.read-more {
          margin-right: $space_5 * 2;
        }
      }
    }
    .rating-controls {
      a i {
        font-size: 1.312rem; //21px;
        padding-top: $space;
        color: $gray_light;
        transition: $transition;
        &:hover {
          color: $orange;
          transition: $transition;
        }
      }
    }
  }
}