.release {
  .release-header {
    .release-image {
      display: flex;
      justify-content: end;
      img {
        width: $space_5 * 60;
        height: auto;
        background-color: $gray_light_xxx;
      }
      .release-image--artist p {
        text-align: right;
        padding-top: $space;
        font-size: 0.75rem; //12px
        font-style: italic;
      }
    }
    .titleAndCo {
      display: flex;
      margin-top: -($space_5 * 2);
      .info {
        h1 {
          margin-bottom: 0;
        }
        .small.gray {
          font-size: 0.75rem; //12px;
          color: $gray;
        }
      }
      .buttons {
        margin-left: $space * 3;
        padding-top: $space* 1.5;
        width: $space * 15;
        position: relative;
        & > * {
          position: absolute;
        }
        .button-play {
          left: 0;
        }
        .button-download {
          left: $space * 6;
        }
        i {
          cursor: pointer;
          &:before {
            width: $space * 4;
            height: $space * 4;
            font-size: 2rem ; //32px;
            color: $black_txt;
            transition: $transition;
          }
        }
        svg {
          cursor: pointer;
          width: $space * 4;
          height: $space * 4;
          fill: $gray_light_x;
          transition: $transition;
          &:hover {
              width: $space * 5;
              height: $space * 5;
              fill: $orange;
              transition: $transition;
          }
        }
      }
    }
    .contents {
      margin-top: $space * 3;
      ol {
        //padding-top: 4px;
        padding-left: $space * 3;
        li {
          color: $gray;
          font-size: 0.812rem; //13px;
          padding-bottom: $space / 2;
          a {
          font-size: 0.875rem; //14px;
          text-decoration: none;
          color: $black_txt;
          border-bottom: 1px dashed;
          margin-left: 6px;
            &:hover {
              border-bottom: none;
              color: $orange;
              transition: $transition;
            }
          }
        }
      }
    }
  }
  .release-content {
    .composition {
      .composition-name {
        margin: ($space * 3) 0 0 0;
        p {
          font-weight: bold;
        }
      }
      .composition-txt {
        img {
          display: block;
          margin: ($space_5 * 4) auto;
          width: $space_5 * 60;
          height: $space_5 * 60;
          background-color: $gray_light_xxx;
        }
      }
    }
    .tags {
      margin: ($space * 3) 0 ($space * 8);
      span {
        padding-right: $space * 2;
        a {
          font-size: 1rem; //16px;
        }
      }
    }
    .release-controls {
      button {
        transition: $transition;
        span {
          a {
            color: $black_txt;
            text-decoration: none;
          }
          i {
            line-height: 1;
            &.el-icon-arrow-left {
              padding-right: $space / 2;
            }
            &.el-icon-arrow-right {
              padding-left: $space / 2;
            }
          }
        }
        &:hover {
          &:not(.is-disabled) {
            background-color: $orange_light_x;
            border-color: $orange;
            transition: $transition;;
            i:before {
              color: $orange;
            }
          }
        }
      }
    }
  }
}