#app {
  margin: 60px 0 90px;
}
.footer{
  //background-color: #f2f1f1;
  background-color: #ebebeb;
}
.leftBlock {
  padding: 30px;
  margin: 20px 0;
  border: 1px solid silver;
  text-align: center;
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
  p {
    margin-bottom: 4px;
    color: gray;
  }
  .tag {
    margin-top: 40px;
    margin-bottom: 40px;
    .tag-item {
      line-height: 1;
      cursor: pointer;
      transition: all 0.3s ease-out; //todo - выводить через переменную
      &:hover {
        color: #fd5622; //todo - выводить цвет через переменную
        transition: all 0.3s ease-out; //todo - выводить через переменную
      }
    }
  }
}
.tag {
  &-item {
    display: inline-block;
    margin: 0 3px;
  }
}
.tag-header {
  clear: both;
}
.layout-icon {
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
}
.mainList {
  overflow: hidden;
  margin-top: 20px;
}
.item {
  margin: 0 0 32px;
  display: flex;
  &:hover {
    .column-left {
      i {
        display: block;
      }
      .digit {
        display: none;
      }
    }
  }
  .column-left {
    display: flex;
    justify-content: center;
    line-height: 1.12;
    width: 80px;
    .digit {
      display: block;
      font-size: 26px;
      color: gray;
    }
    i {
      display: none;
      margin-top: 4px;
      font-size: 26px;
      cursor: pointer;
      color: #a7a6a2;
      &:hover {
        color: #fd5622;
      }
    }
  }
  .column-right {
    width: 100%;
    .top {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .part-one {
        width: calc(100% - 110px - 16px);
        .title {
          font-size: 18px;
          color: #fd5622;
        }
        & > a {
          font-size: 12px;
          color: black;
          text-decoration: underline;
          &:hover {
            color: #fd5622;
            text-decoration: none;
            transition: all 0.3s ease-out; //todo - выводить через переменную
          }
        }
        .el-collapse {
          border: none;
          margin-top: -20.5px;
          max-width: 900px;
          .el-collapse-item__header {
            border: none;
            //border-bottom: 1px dashed silver;
            height: 20px;
            padding-left: 60px;
            color: gray;
            &:hover {
              color: #fd5622;
              transition: all 0.3s ease-out; //todo - выводить через переменную
            }
            .el-collapse-item__arrow {
              position: absolute;
              left: 280px;
              margin-top: 4px;
              transform: rotate(90deg);
            }
            &.is-active {
              color: black;
              .el-collapse-item__arrow {
                transform: rotate(-90deg);
              }
            }
          }
          .el-collapse-item__wrap {
            border: none;
            .el-collapse-item__content {
              //padding-left: calc(60px + 8px);
              padding-left: 60px;
              padding-bottom: 16px;
              border: none;
              ol {
                padding: 6px 0 0 26px;
                li {
                  word-wrap: anywhere;
                  line-height: 1.2;
                  padding-bottom: 8px;
                }
              }
            }
          }
        }
      }
      .part-two {
        width: 110px;
        justify-content: right;
        display: flex;
        & > a {
          width: 26px;
          height: 26px;
          text-align: center;
          padding: 3px 4px 4px;
          line-height: 0;
          display: inline-block;
          color: gray;
          //background-color: #ebebeb;
          border: 2px solid #ebebeb;
          border-radius: 50%;
          transition: all 0.3s ease-out; //todo - выводить через переменную
          &:hover {
            color: white;
            background-color: #fd5622;
            border-color: #fd5622;
            transition: all 0.3s ease-out; //todo - выводить через переменную
          }
        }
        .date {
          padding: 3px 8px 0 0;
          color: gray;
          font-size: 12px;
        }
      }
    }
    .tags {
      padding-top: 4px;
      text-align: right;
      .tag-item {
        color: gray;
        text-decoration: underline;
        transition: all 0.3s ease-out; //todo - выводить через переменную
        cursor: pointer;
        font-size: 14px;
        &:hover {
          color: #fd5622; //todo - выводить цвет через переменную
          //color: #414141; //todo - выводить цвет через переменную
          transition: all 0.3s ease-out; //todo - выводить через переменную
        }
      }
    }
  }
  &-grid {
    width: 20%;
    float: left;
    margin: 10px;
  }
}
.sorting {
  .active {
    background: #fff;
  }
}

.number {
  font-size: 40px;
}

