//ОТСТУПЫ
$space_8: 8px;
$space_5: 5px;

//ЦВЕТА
$orange:          #fd5622; // оранжевый основной
$orange_light:    #fd784e; // оранжевый светлый (прозрасноть 80%) - трек проигрывателя (проиграно)
$orange_light_x:  #ffddd3; // оранжевый светлый очень-очень (прозрасноть 20%) - наведенные кнопки
$black_txt:       #333;    // чёрный для текста
$gray_dark_x:     #414141; // серый тёмный очень - кнопка наведенная
$gray:            gray;    // серый
$gray_light:      #a7a6a2; // серый светлый - кнопки не активные
$gray_light_x:    silver;  // серый светлый очень
$gray_light_xx:   #d2d2d2; // серый светлый очень - трек приогрываетля (подгружено)
$gray_light_xxx:  #ebebeb; // серый светлый очень-очень - трек приогрываетля (пусто)

//ПРОЧЕЕ
$transition: all 0.3s ease-out;